:root {
    --primary-color: #8a2030;
    --secondary-color: #a59441;
    --background-color: #ffffff;
    --text-color: #000000;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Font styles */
h1, h2, h3, h4 {
    font-family: 'Young Serif', serif;
}

h1, h4 {
    font-size: 3.5rem;
    color: var(--primary-color);
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navigation styles */
.nav-link {
    color: #000000 !important;
}

.nav-link:hover {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: antiquewhite;
    border-radius: 8px;
    color: #8a2030 !important;
}

/* Animation styles */
@keyframes fade-in {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.animation-fade-in {
    animation: fade-in 1.5s ease-in 8;
}

@keyframes slide-in {
    0% { left: 50%; }
    50% { left: -100%; transform: translate(-50%, -50%); }
    100% { left: 50%; }
}

.animation-slide-in {
    animation: slide-in ease-in 1s forwards;
}
.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3.fs-4 {
    font-size: 24px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    width: 0;
    animation: typing 8s steps(20, end) infinite, blink-caret 1s step-end 2;
}

@keyframes typing {
    0% { width: 0; }
    70% { width: 26ch; } /* Adjust the width to match your text length */
    
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

/* Custom buttons */
.cstm-btns {
    text-decoration: none;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.cstm-btns:hover{
    font-size: 1.1rem;
    font-weight: bold;
    background-color: antiquewhite;
    color: var(--primary-color);
}

/* Bio text */
.bio p {
    text-align: justify;
    line-height: 1.5rem;
}

/* Skill container styles */
.skill-img-container {
    width: 90%;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding-bottom: 20px;
    box-sizing: border-box;
}

.skill-img {
    width: 100%;
}

.skills-container {
    background-color: rgba(255, 255, 255, 0.1);
    width: 95%;
    margin: 0 auto;
    color: #ffffff;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 8px;
}

.skills-container h4 {
    color: #ffffff;
}

/* Process text */
.tech-process-text {
    text-align: justify;
}

/* Custom horizontal rule */
.cstm-hr {
    border: 5px solid var(--secondary-color);
    position: relative;
    top: 50px;
}

/* Contact info */
.contact-info {
    padding: 10px;
    color: var(--primary-color);
    border-radius: 10px;
}

.contact-info p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.contact-info i {
    margin-right: 10px;
    color: var(--secondary-color);
    font-size: 1.5em;
}

.contact-info a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: var(--secondary-color);
}

.contact-heading {
    width: 70%;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 24px;
    position: relative;
    top: -50px;
    background-color: var(--primary-color);
}

.contact-text {
    padding: 20px 20px;
    color: #ffffff;
}

.contact-form {
    background-color: var(--primary-color);
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 8px;
}

.contact-form .btns {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    background-color: #ffffff;
    color: var(--primary-color);
}

/* Project Grid */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.project-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--secondary-color);
}

.project-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover img {
    transform: scale(1.1);
}

.project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(138, 32, 48, 0.8);
    color: white;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
}

.project-item:hover .project-info {
    transform: translateY(0);
}
.details a{
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.details a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Media queries */
@media (min-width: 768px) {
    /* Mobile specific styles (or fallback) */
    .contact-heading {
        width: 60%;
    }

    .contact-text {
        padding: 30px 30px;
    }

    .skill-img-container {
        width: 80%;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .skill-img {
        height: 500px;
    }

    .intro-section {
        position: relative;
        margin-bottom: 200px;
    }

    .avater {
        padding-top: 100px;
    }

    .bio {
        position: absolute;
        top: 60%;
        left: 0%;
        width: 80%;
    }

    .tech-process {
        position: relative;
        padding: 40px 0;
        margin-bottom: 100px;
    }

    .tech-img {
        width: 50%;
    }

    .tech-process-content {
        position: absolute;
        width: 65%;
        top: 40%;
        left: 35%;
        background-color: white;
        color: black;
        padding: 30px;
    }

    .cstm-hr {
        border: 5px solid var(--secondary-color);
        position: relative;
        top: 30px;
    }

    .contact-heading {
        width: 50%;
    }

    .contact-text {
        padding: 40px 40px;
    }
}

@media (min-width: 1440px) {
    .skills-container {
        padding: 10px;
        margin: 0 auto;
        width: 98%;
    }

    .tech-process {
        position: relative;
        padding: 40px 0;
        margin-bottom: 100px;
    }

    .tech-img {
        width: 50%;
    }

    .tech-process-content {
        position: absolute;
        width: 63%;
        height: 60%;
        top: 38%;
        left: 35%;
        background-color: white;
        color: black;
        padding: 40px;
    }

    .tech-process-text {
        padding: 30px 0;
    }

    .cstm-hr {
        border: 5px solid var(--secondary-color);
        position: relative;
        top: 30px;
    }

    .contact-heading {
        width: 50%;
    }

    .contact-text {
        padding: 40px 40px;
    }
}
