
/* Apply Young Serif to the headings */
h1, h2, h3,h4 {
    font-family: 'Young Serif', serif;
}
/* Apply Poppins to the body text */
body {
    font-family: 'Poppins', sans-serif;
}

h1,h4{
    font-size: 3.5rem;
    color: #9F2042;
}

.cstm-btns {
    text-decoration: none;
}

/* Define a fade-in animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Apply the animation to the h1 element */
.animation-fade-in {
    animation: fade-in 1.5s ease-in 8;
}


@keyframes pulseAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.animation-pulse {
    animation: pulseAnimation 2s infinite ease-in-out;
}

@keyframes textAnimation {
    0% { transform: translateY(-10px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.animation-text {
    animation: textAnimation 1s ease-in-out;
}

.skills {
    background-color: bisque;   
    margin-top: 20px;
}

table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

tr:hover {
    background-color: #f5f5f5; /* Background color on hover */
}

td {
    padding: 10px;
}

.skill-rating {
    font-size: 24px;
    color: #f1c40f; /* Yellow color for skill ratings */
}

.profile{
    height: 60%;
}

#contact {
    background-image: url('../images/contact.jpg');
    background-size: cover;
}
.contact-form{
    background-color:rgba(207,207,207,.8) ;
}

.custom-progress-bar .progress-bar {
    background-color: rgb(165, 148, 65);
}

/* Style for the button */
.btns {
    background-color: #9F2042; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Medium button size */
    border: none; /* Remove button border for a cleaner look */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer;
}

/* Hover effect to make the button interactive */
.btns:hover {
    background-color: rgb(165, 148, 65); /* Change background color on hover */
    color: #000000;
    font-size: 1.1rem;
    font-weight: bold; /* Keep text color white on hover */
}

/* Additional styles as needed */

/* adds color to the project cards*/
.cstm-card{ 
    background-color: #a59441; 
}

